*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000;
}

.paper{
    width: 240px;
    height: 240px;
    background-image: url(1.jpg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-size: cover;
    box-shadow: inset 2px 1px 6px rgb(116, 111, 111);
}

.content{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: aliceblue;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition:  opacity 1s ease-in-out;
    -webkit-transition:  opacity 1s ease-in-out;
    -moz-transition:  opacity 1s ease-in-out;
    -ms-transition:  opacity 1s ease-in-out;
    -o-transition:  opacity 1s ease-in-out;
}

.heading{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: .5px solid red;
    color: #000;
}

.img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    box-shadow: inset 2px 1px 6px rgb(116, 111, 111);
    background-image: url(1.jpg);
    background-size: cover;
    transition: transform 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transform-origin:50%  100%;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
}

.paper:hover .img{
    transform: translate(-50%-50%) rotateX(180deg) ;
    -webkit-transform: translate(-50%,-50%) rotateX(180deg) ;
    -moz-transform: translate(-50%,-50%) rotateX(180deg) ;
    -ms-transform: translate(-50%,-50%) rotateX(180deg) ;
    -o-transform: translate(-50%,-50%) rotateX(180deg) ;
}

.paper:hover .text{
    opacity: 1;
}